<h2>More about London Pub Standards</h2>
<p>
  Pub Standards is a regular get-together for <em>web folk</em>. Unlike some
  savagely bigoted groups madly intent on ripping the web community apart, Pub
  Standards is open to <em>any&mdash; and everyone</em> and is as welcoming as
  a suicide cult recruitment camp.
</p>
<p>
  Started in 2005 and still going strong, the <em>London Chapter</em> of Pub
  Standards is the <em>original</em>, and <em>still the best</em> place in
  London to enjoy a tasty beverage with like-minded web people.
</p>
<p><strong>This is the post-conference piss-up without the conference.</strong></p>

<h2>Where and where is it?</h2>
<p>
  London Pub Standards is always held at the 
  <a href='http://www.fancyapint.com/pubs/pub1292.html'>The Bricklayer’s
    Arms</a> on Gresse Street, London W1 (just off Tottenham Court Road).
</p>
<p>
  In between Pub Standards events, those requiring more beer can organise
  a <em>Substandards</em> event. They are named events (not numbered) and
  must always be held at a new, unvisited pub.
  See <a href='/previously'>the list of previous events</a> to find out where
  we have previously been.
</p>

<div class='advisory'>
  <h3>More about Pub Standards</h3>
  <p>
    You can find out more about Pub Standards, and all of the other
    places around the world that it is held, at 
    <a href='http://pubstandards.com/'>pubstandards.com</a>.
  </p>
</div>
