/* -*- Mode: CSS; tab-width: 4; indent-tabs-mode: nil; -*- */

body, ul, ol, li, h1, h2, h3, p {
    margin:                 0;
    padding:                0;
}
li {
    list-style:             none;
}
em, i {
    font-style:             normal;
}

/* reset */

body {
    font-family:            "Helvetica Neue",
                            "Arial",
                            "Helvetica",
                            sans-serif;
    background:             #ccc url( /images/bubbles.gif );
}
em {
    font-weight:            bold;
}
a {
    color:                  #06c;
    text-decoration:        none;
}
a:visited {
    color:                  #049;
}
a:hover,
a:focus {
    background:             #06c;
    color:                  #fff;
}
cite {
    font-style:             normal;
}

h2, h3, h4, h5, h6 {
    color:                  #690;
    font-family:            "Hoefler Text",
                            "Georgia",
                            serif;
    margin-bottom:          1em;
    margin-top:             1.5em;
}
h2 {
    font-size:              1.8em;
}
h3 {
    font-size:              1.5em;
}

#main {
    width:                  30em;
    min-width:              550px;
    margin-top:             -10px;
    padding:                35px 40px 2em;
    background:             #fff;
    -webkit-box-shadow:     2px 2px 5px #666;
    -moz-box-shadow:        2px 2px 5px #666;
}

h1 {
    position:               absolute;
    left:                   -5px;
    top:                    -70px;
}
h1 span {
    position:               absolute;
    left:                   -999em;
}
h1 img {
    display:                block;
}
#tagline {
    color:                  #690;
    font-family:            "Hoefler Text",
                            "Georgia",
                            serif;
    font-size:              1.4em;
    line-height:            1.3;
    margin-left:            280px;
    min-height:             220px;
}
#tagline em {
    font-weight:            normal;
    color:                  #360;
}

#content {
    color:                  #666;
}
#content p {
    line-height:            1.4;
    margin-bottom:          1em;
    margin-top:             1em;
}
#content p em {
    color:                  #000;
    font-weight:            normal;
}
#content p strong {
    color:                  #000;
}

#homepage h2 {
    margin-bottom:          0;
    margin-top:             1em;
}
#homepage h2 + p {
    margin-top:             0;
}
#homepage h3 {
    margin-top:             1em;
}

#event-list,
#event-list ol {
    margin-top:             1em;
    position:               relative;
}
#event-list ol {
    padding-top:            1.5em;
    margin-left:            50px;
    position:               relative;
    z-index:                2;
}
#event-list h2,
#event-list h3 {
    float:                  left;
    margin:                 0;
}
#event-list h2 {
    color:                  #cf9;
    font-size:              6em;
    float:                  left;
    position:               absolute;
    z-index:                1;
}
#event-list h3 {
    text-align:             right;
    width:                  225px;
}
#event-list ol ol {
    margin-bottom:          0.2em;
    margin-left:            250px;
    padding-top:            0;
}
#event-list ol li {
    margin-bottom:          0.4em;
}

#photos li {
    float:                  left;
    margin-right:           5px;
    margin-bottom:          5px;
}
#photos {
    overflow:               auto;
}

#navigation {
    font-size:              0.8em;
    margin-top:             2em;
    line-height:            1.4;
}
#footer #navigation a {
    color:                  black;
    border-bottom:          1px dotted #666;
}
#footer #navigation a:hover,
#footer #navigation a:focus {
    color:                  #fff;
    background:             black;
}

#homepage #navigation {
    font-size:              1em;
    color:                  #666;
}
#homepage #navigation span {
    display:                block;
    margin-top:             1em;
    margin-bottom:          1em;
}
#homepage #navigation a {
    font-weight:            bold;
}

.people-list {
    margin-top:             -1em;
}
.people-list:after {
    content:                ".";
    display:                block;
    height:                 0;
    clear:                  both;
    visibility:             hidden;
}
.people-list li {
    padding-top:            1em;
    width:                  46%;
    padding-right:          4%;
    float:                  left;
}
.people-list h3 {
    font-size:              1.2em;
    margin:                 0;
}
.people-list h3 i {
    font-size:              0.83333em;
}
.people-list a {
    color:                  #360;
    display:                block;
    margin-bottom:          5px;
}
.people-list span {
    position:               absolute;
    left:                   -999em;
}
.people-list a span {
    position:               relative;
    left:                   0;
}
.people-list a:hover,
.people-list a:focus {
    background:             transparent;
    color:                  #360;
}
.people-list a:hover span,
.people-list a:focus span,
.people-list a:hover i,
.people-list a:focus i {
    background:             #360;
    color:                  white;
}
.people-list h3 i {
    font-family:            "Helvetica Neue",
                            "Arial",
                            "Helvetica",
                            sans-serif;
/*    font-size:              0.8333em;*/
}
.people-list img {
    float:                  left;
    margin-right:           20px;
}

.advisory {
    background:             #f8f8f8;
    border:                 1px solid #ccc;
    color:                  #999;
    margin:                 4em 2em 1em;
    padding:                0.5em;
    font-size:              0.8em;
}
.advisory h3 {
    color:                  #666;
    margin-top:             0;
    margin-bottom:          1em;
    font-size:              1.2em;
}
.advisory li {
    list-style:             square outside;
    margin-left:            1.2em;
}
#content .advisory ol,
#content .advisory ul,
#content .advisory p {
    margin:                 0.5em 0 0;
}
.advisory i {
    font-style:             italic;
    color:                  #666;
}

#colophon {
    width:                  30em;
    min-width:              550px;
    padding:                1em 40px 2em;
    color:                  #666;
    font-size:              0.8em;
}
#colophon a {
    color:                  #666;
    border-bottom:          1px dotted #333;
}
#colophon a:hover,
#colophon a:focus {
    color:                  white;
    background:             #666;
}

#colophon p {
    margin-bottom:          0.5em;
}
#colophon i {
    color:                  #000;
}
