${include people_list}

<div class='advisory'>
  <h3>Wait ... where am I?</h3>
  <p>
    Attended Pub Standards? Get yourself added to this list by doing the
    following:
  </p>
  <ol>
    <li>Add a photo of yourself to the <a
        href='http://www.flickr.com/groups/${flickr_group_name}'>chapter
          flickr pool</a>.</li>
    <li>Set the photo's title to what you want your name displayed as.</li>
    <li>Add a description, if you want one.</li>
    <li>Tag the photo with 
      <code>pubstandards:twitter=<i>YOUR_TWITTER_NAME</i></code> if you want.
    </li>
  </ol>
  <p>
    The list of people is rebuilt every night.
  </p>
</div>