<p class='twitter'><a href='http://twitter.com/${twitter}'>@${twitter}</a></p>
<p>${description}</p>

<img src='${photo}'>

${include photo_list}


<div class='advisory'>
  <h3>Wait ... where are my photos?</h3>
  <p>
    Photos of you at Pub Standards not showing up? Make sure that the 
    <i>People in this photo</i> section of each photo has you in it. See
    <a href='http://blog.flickr.net/en/2009/10/21/people-in-photos/'>flickr
      for more information</a>.
  </p>
  <p>Photos are reindexed weekly.</p>
</div>